.DS_Store

apartame/cache/*
!apartame/cache/index.html
!apartame/cache/.htaccess

apartame/logs/*
!apartame/logs/index.html
!apartame/logs/.htaccess

user_guide/*
sitioCounter/*

application/config/*
